.logo{
    width: 40%;
    height: 40%;
    margin: 0.5rem;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.nav-bar{
    height: 4rem;
    background-color: #86e28c;
}
