.logo{
    width: 80%;
    margin: 0rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}


.mobile-offcanvas{
    display: block;
    visibility: hidden;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 30%;
    overflow-x: hidden;
    background-color: #86e28c;
    transform: translateY(-100%);
    transition: visibility .3s ease-in-out, transform .3s ease-in-out;

}
.mobile-bar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #86e28c;
}

.nav-bar{
    width: 100%;
    height: 3.8rem;
    background-color: #86e28c;
}
.show-nav{
    visibility: visible;
    transform: translateX(0);
}

.pie{
    height: 100%;
    background-color: #86e28c;
}
.info-receta{
    width: 7rem;
    height: 12rem;
    background-color: #86e28c;
    border-radius: 0.5rem;
}
.img-receta{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
.mobile-icon{    
    position: relative;  
}