.logo{
    width: 40%;
    height: 40%;
    margin: 0.5rem;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.nav-bar{
    width: 100%;
    height: 4rem;
    background-color: #86e28c;
}

.pie{
    height: 100%;
    background-color: #86e28c;
}
.info-receta{
    width: 7rem;
    height: 12rem;
    background-color: #86e28c;
    border-radius: 0.5rem;
}
.img-receta{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}