@import url(./vars.css);

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: var(--base-fs);
}

body{
    font-family: var(--ff-primary);
}

/* layout */
.container{
    width: 1140px;
    margin:auto;
}

.bg-green{
    background: var(--clr-green-100);
}

.bg-yellow{
    background: var(--clr-yellow-100);
}

.inner-bg-conf{
    width: 75%;
    margin: auto;
    border-radius: 1.25rem;
}


.ma-1{ margin: calc(var(--fs-xsm) * var(--spacer-xsm)); }
.ma-2{ margin: calc(var(--fs-xsm) * var(--spacer-sm)); }
.ma-3{ margin: calc(var(--fs-xsm) * var(--spacer-md)); }
.ma-4{ margin: calc(var(--fs-xsm) * var(--spacer-lg)); }
.ma-5{ margin: calc(var(--fs-xsm) * var(--spacer-xlg)); }


.mr-1{ margin-right: calc(var(--fs-xsm) * var(--spacer-xsm)); }
.mr-2{ margin-right: calc(var(--fs-xsm) * var(--spacer-sm)); }
.mr-3{ margin-right: calc(var(--fs-xsm) * var(--spacer-md)); }
.mr-4{ margin-right: calc(var(--fs-xsm) * var(--spacer-lg)); }
.mr-5{ margin-right: calc(var(--fs-xsm) * var(--spacer-xlg)); }



/* padding properties */
.pa-1{ padding: calc(var(--fs-xsm) * var(--spacer-xsm)); }
.pa-2{ padding: calc(var(--fs-xsm) * var(--spacer-sm)); }
.pa-3{ padding: calc(var(--fs-xsm) * var(--spacer-md)); }
.pa-5{ padding: calc(var(--fs-xsm) * var(--spacer-xlg)); }

