@import url(./vars.css);

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: var(--base-fs);
}

body{
    font-family: var(--ff-primary);
}

/* layout */
.container{
    width: 1140px;
    margin:auto;
}

<<<<<<< HEAD
=======
.row{
    display: flex;
    flex-wrap: wrap;
}

.col{ flex: 1 0 0%; }
.col-2{
    flex: 0 0 auto;
    width: 16.67%;
}
.col-3{
    flex: 0 0 auto;
    width: 25%;
}
.col-4{
    flex: 0 0 auto;
    width: 33.33%;
}
.col-5{
    flex: 0 0 auto;
    width: 41.67%;
}
.col-6{
    flex: 0 0 auto;
    width: 50%;
}
.col-7{
    flex: 0 0 auto;
    width: 58.33%;
}
.col-8{
    flex: 0 0 auto;
    width: 66.67%;
}
.col-9{
    flex: 0 0 auto;
    width: 75%;
}
.col-10{
    flex: 0 0 auto;
    width: 83.33%;
}
.col-11{
    flex: 0 0 auto;
    width: 91.67%;
}
.col-12{
    flex: 0 0 auto;
    width: 100%;
}

.text-center{ text-align: center; }
.text-left{ text-align: left; }

>>>>>>> b45936209dcaf54912e8eacab9cd70ccebe5751c
.bg-green{
    background: var(--clr-green-100);
}

.bg-yellow{
    background: var(--clr-yellow-100);
}

.inner-bg-conf{
    width: 75%;
    margin: auto;
    border-radius: 1.25rem;
}

<<<<<<< HEAD
=======
.bg{
    background: var(--clr-gray-100);
}

.title-sm{
    font-size: var(--fs-xsm);
    font-weight: var(--fw-bold);
}

.title-md{
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
}

.title-mdxl{
    font-size: var(--fs-mdxl);
    font-weight: var(--fw-bold);
}

.title-lg{
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
}

.title-xlg{
    font-size: var(--fs-xlg);
    font-weight: var(--fw-bold);
}

.text-content{
    font-size: var(--fs-rg);
    line-height: 1.5rem;
}

/* gap - space between items */
.gap-1{ gap: calc(var(--fs-xsm) * var(--spacer-xsm)); }
.gap-2{ gap: calc(var(--fs-xsm) * var(--spacer-sm)); }
.gap-3{ gap: calc(var(--fs-xsm) * var(--spacer-md)); }
.gap-4{ gap: calc(var(--fs-xsm) * var(--spacer-lg)); }
.gap-5{ gap: calc(var(--fs-xsm) * var(--spacer-xlg)); }

/* margin properties */
.m-auto{
    margin-right: auto;
    margin-left: auto;
}

>>>>>>> b45936209dcaf54912e8eacab9cd70ccebe5751c
.ma-1{ margin: calc(var(--fs-xsm) * var(--spacer-xsm)); }
.ma-2{ margin: calc(var(--fs-xsm) * var(--spacer-sm)); }
.ma-3{ margin: calc(var(--fs-xsm) * var(--spacer-md)); }
.ma-4{ margin: calc(var(--fs-xsm) * var(--spacer-lg)); }
.ma-5{ margin: calc(var(--fs-xsm) * var(--spacer-xlg)); }


.mr-1{ margin-right: calc(var(--fs-xsm) * var(--spacer-xsm)); }
.mr-2{ margin-right: calc(var(--fs-xsm) * var(--spacer-sm)); }
.mr-3{ margin-right: calc(var(--fs-xsm) * var(--spacer-md)); }
.mr-4{ margin-right: calc(var(--fs-xsm) * var(--spacer-lg)); }
.mr-5{ margin-right: calc(var(--fs-xsm) * var(--spacer-xlg)); }



/* padding properties */
.pa-1{ padding: calc(var(--fs-xsm) * var(--spacer-xsm)); }
.pa-2{ padding: calc(var(--fs-xsm) * var(--spacer-sm)); }
.pa-3{ padding: calc(var(--fs-xsm) * var(--spacer-md)); }
.pa-5{ padding: calc(var(--fs-xsm) * var(--spacer-xlg)); }
<<<<<<< HEAD
=======

.pt-1{ padding-top: calc(var(--fs-xsm) * var(--spacer-xsm)); }
.pt-2{ padding-top: calc(var(--fs-xsm) * var(--spacer-sm)); }
.pt-3{ padding-top: calc(var(--fs-xsm) * var(--spacer-md)); }
.pt-4{ padding-top: calc(var(--fs-xsm) * var(--spacer-lg)); }
.pt-5{ padding-top: calc(var(--fs-xsm) * var(--spacer-xlg)); }

.pr-1{ padding-right: calc(var(--fs-xsm) * var(--spacer-xsm)); }
.pr-2{ padding-right: calc(var(--fs-xsm) * var(--spacer-sm)); }
.pr-3{ padding-right: calc(var(--fs-xsm) * var(--spacer-md)); }
.pr-4{ padding-right: calc(var(--fs-xsm) * var(--spacer-lg)); }
.pr-5{ padding-right: calc(var(--fs-xsm) * var(--spacer-xlg)); }

.pb-1{ padding-bottom: calc(var(--fs-xsm) * var(--spacer-xsm)); }
.pb-2{ padding-bottom: calc(var(--fs-xsm) * var(--spacer-sm)); }
.pb-3{ padding-bottom: calc(var(--fs-xsm) * var(--spacer-md)); }
.pb-4{ padding-bottom: calc(var(--fs-xsm) * var(--spacer-lg)); }
.pb-5{ padding-bottom: calc(var(--fs-xsm) * var(--spacer-xlg)); }

.pl-1{ padding-left: calc(var(--fs-xsm) * var(--spacer-xsm)); }
.pl-2{ padding-left: calc(var(--fs-xsm) * var(--spacer-sm)); }
.pl-3{ padding-left: calc(var(--fs-xsm) * var(--spacer-md)); }
.pl-4{ padding-left: calc(var(--fs-xsm) * var(--spacer-lg)); }
.pl-5{ padding-left: calc(var(--fs-xsm) * var(--spacer-xlg)); }

/* positioning */
.pos-abs{ position: absolute; }
.pos-rel{ position: relative; }

.top-1{ top: calc(var(--fs-xsm) * var(--spacer-xsm)); }
.top-2{ top: calc(var(--fs-xsm) * var(--spacer-sm)); }
.top-3{ top: calc(var(--fs-xsm) * var(--spacer-md)); }
.top-4{ top: calc(var(--fs-xsm) * var(--spacer-lg)); }
.top-5{ top: calc(var(--fs-xsm) * var(--spacer-xlg)); }

.bottom-0{ bottom: 0; }
.bottom-1{ bottom: calc(var(--fs-xsm) * var(--spacer-xsm)); }
.bottom-2{ bottom: calc(var(--fs-xsm) * var(--spacer-sm)); }
.bottom-3{ bottom: calc(var(--fs-xsm) * var(--spacer-md)); }
.bottom-4{ bottom: calc(var(--fs-xsm) * var(--spacer-lg)); }
.bottom-5{ bottom: calc(var(--fs-xsm) * var(--spacer-xlg)); }

.left-1{ left: calc(var(--fs-xsm) * var(--spacer-xsm)); }
.left-2{ left: calc(var(--fs-xsm) * var(--spacer-sm)); }
.left-3{ left: calc(var(--fs-xsm) * var(--spacer-md)); }
.left-4{ left: calc(var(--fs-xsm) * var(--spacer-lg)); }
.left-5{ left: calc(var(--fs-xsm) * var(--spacer-xlg)); }

.right-1{ right: calc(var(--fs-xsm) * var(--spacer-xsm)); }
.right-2{ right: calc(var(--fs-xsm) * var(--spacer-sm)); }
.right-3{ right: calc(var(--fs-xsm) * var(--spacer-md)); }
.right-4{ right: calc(var(--fs-xsm) * var(--spacer-lg)); }
.right-5{ right: calc(var(--fs-xsm) * var(--spacer-xlg)); }

/* floating */
.float-right{ float: right;}
.float-left{ float: left;}

.img-align{
    align-self:center;
}

.img-full{ 
    display: block;
    width: 100%;
}

.img-75{ 
    display: block;
    width: 75%;
}

.img-65{ 
    display: block;
    width: 65%;
}

.img-60{ 
    display: block;
    width: 65%;
}

.img-50{ 
    display: block;
    width: 50%;
}

.img-25{ 
    display: block;
    width: 25%;
}

.img-15{ 
    display: block;
    width: 15%;
}

.curved{
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
}
>>>>>>> b45936209dcaf54912e8eacab9cd70ccebe5751c
