:root{
    /* custom properties - constants */
    --base-fs: 15px;
    --spacer-xsm: 0.25;
    --spacer-sm: 0.5;
    --spacer-md: 1;
    --spacer-lg: 1.5;
    --spacer-xlg: 3;
    /* fuente y grosor */
    --ff-primary: 'DM Sans';
    --fw-reg: 400;
    --fw-med: 500;
    --fw-bold: 700;
    --fw-xbold: 900;
    /* 16 18 20 24 64 80 */
    /* tamaño de fuente */
    --fs-xsm: 1rem;
    --fs-sm: 1.125rem;
    --fs-rg: 1.25rem;
    --fs-md: 1.5rem;
    --fs-mdl: 2.125rem;
    --fs-mdxl: 3rem;
    --fs-lg: 4rem;
    --fs-xlg: 5rem;
    /* colors */
    /*  h -> hue/color 0/360, s -> saturation 0/100, l -> lightness 0/100, a -> alpha 0/1 */
    --clr-white: hsl(0, 0%, 100%);

    --clr-green-100: hsla(132, 95%, 77%);

    --clr-yellow-100: hsla(65, 85%, 87%);

    --clr-gray-100: hsl(0, 0%, 93%);
}